@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  background: linear-gradient(45deg, #8332AC, #E086D3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.main .container .text h1 {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: linear-gradient(45deg, #101010, #462749);
}
.main .container .text h2 {
  margin: 0;
  padding: 0.5rem 0;
  color: #462749;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
}
.main .container .botoncito {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main .container .botoncito .btn {
  position: absolute;
  text-decoration: none;
  border: 2px solid #E7E7E7;
  color: #E7E7E7;
  padding: 10px 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  background: transparent;
  transition: 1s;
  overflow: hidden;
  z-index: 1;
}
.main .container .botoncito .btn:hover {
  color: #8332AC;
}
.main .container .botoncito .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 100%;
  transform: skewX(45deg);
  background: #E7E7E7;
  z-index: -1;
  transition: 1s;
}
.main .container .botoncito .btn:hover::before {
  width: 160%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #242424, #101010);
}
.about .grid {
  z-index: 1;
}
.about .grid .row {
  justify-content: space-between;
  margin: 20% 0rem;
}
.about .grid .row .col-sm-4 h6 {
  background: linear-gradient(45deg, #E086D3, #8332AC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}
.about .grid .row .col-sm-4 p {
  color: #E7E7E7;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #E7E7E7;
  position: absolute;
}
.navbar .navbar-brand {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: black;
}
.navbar .navbar-collapse .navbar-nav .nav-item .active {
  font-weight: 600;
}
.navbar .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .icons .searchbox {
  font-family: "Barlow", sans-serif;
  border: none;
  position: absolute;
  top: -100%;
  left: 0;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  background: #E7E7E7;
  outline: none;
  padding: 0 5%;
  color: black;
}
.navbar .icons .searchbox.active {
  top: 0;
}
.navbar .icons input {
  font-family: "Barlow", sans-serif;
  color: black;
  height: 40px;
  width: 100%;
  padding: 0 5%;
  background-color: #E7E7E7;
}
.navbar .icons .navbar-toggler-icon {
  z-index: 10;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(16, 16, 16)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .icons button {
  z-index: 10;
  text-decoration: none;
  border: none;
}
.navbar .icons .searcher {
  z-index: 10;
  height: 24px;
  width: 24px;
  background-color: #E7E7E7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.footer {
  padding: 2rem;
  background: linear-gradient(45deg, #8332AC, #E086D3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Barlow", sans-serif;
  color: #E7E7E7;
}
.footer h7 {
  font-weight: 900;
}
.footer .izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 50%;
}
.footer .der li:hover {
  color: #8332AC;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  background: linear-gradient(45deg, #8332AC, #E086D3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.main .container .text h1 {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: linear-gradient(45deg, #101010, #462749);
}
.main .container .text h2 {
  margin: 0;
  padding: 0.5rem 0;
  color: #462749;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
}
.main .container .botoncito {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main .container .botoncito .btn {
  position: absolute;
  text-decoration: none;
  border: 2px solid #E7E7E7;
  color: #E7E7E7;
  padding: 10px 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  background: transparent;
  transition: 1s;
  overflow: hidden;
  z-index: 1;
}
.main .container .botoncito .btn:hover {
  color: #8332AC;
}
.main .container .botoncito .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 100%;
  transform: skewX(45deg);
  background: #E7E7E7;
  z-index: -1;
  transition: 1s;
}
.main .container .botoncito .btn:hover::before {
  width: 160%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #242424, #101010);
}
.about .grid {
  z-index: 1;
}
.about .grid .row {
  justify-content: space-between;
  margin: 20% 0rem;
}
.about .grid .row .col-sm-4 h6 {
  background: linear-gradient(45deg, #E086D3, #8332AC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
}
.about .grid .row .col-sm-4 p {
  color: #E7E7E7;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 741px) {
  .main .container .text h1 {
    font-size: 1.3rem;
  }
  .main .container .text h2 {
    font-size: 0.9rem;
  }
  .main .botoncito {
    padding: 0.7rem 0rem;
  }
  .main .botoncito .btn {
    font-size: 10px;
  }
  .main .botoncito .two {
    margin-left: 150px;
  }
  .about .utiles {
    display: none;
  }
  .about .grid {
    margin: 0.2rem;
  }
  .about .grid .row .col-sm-4 h6 {
    font-size: 0.9rem;
  }
  .about .grid .row .col-sm-4 p {
    font-size: 0.6rem;
  }
}
@media (min-width: 742px) {
  .main .container .text h1 {
    font-size: 3rem;
  }
  .main .container .text h2 {
    font-size: 1.2rem;
  }
  .main .botoncito {
    padding: 3rem 0rem;
  }
  .main .botoncito .two {
    margin-left: 200px;
  }
  .about .utiles {
    position: absolute;
    max-width: 40%;
  }
  .about .grid {
    margin: 0.5rem;
  }
  .about .grid .row .col-sm-4 h6 {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=main.css.map */